
// color
$gray: #F4F7FC;
$white: #fff;
$red:#f12a02;
$gray_light:#9EA9B3;
$black: #232323;
$sky:#aec6ef;
$light_dark:#191919;
$dark:#131313;


// Font Variables
$philosopher: 'Philosopher', sans-serif;
$quattrocento: 'Quattrocento', serif;
$outfit: 'Outfit', sans-serif;