@import "./variables.scss";
@import "./mixins.scss";

// provider_area
.provider_area{
    padding: 5rem 0 15rem;
    .provider_img{
        position: relative;
        z-index: 1;
        &:after {
            content: "";
            width: 45.1rem;
            height: 100%;
            background: $white;
            position: absolute;
            z-index: -1;
            top: 2.4rem;
            left: -5.8rem;
            display: block;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            animation: visapro_bounce_animation 7s infinite;
        }
        @keyframes visapro_bounce_animation {
            0% {
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%
            }
        
            25% {
                border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%
            }
        
            50% {
                border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%
            }
        
            75% {
                border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%
            }
        }
    }
    .choose_top{
        text-align: left;
        h2{
            span{
                display: block;
                font-weight: 300;
            }
        }
        .em_bar_bg{
            margin: 0;
        }
    }
    .education_content{
        margin-top: 7.4rem;
        h3 {
            color: $white;
            font-size: 2.1rem;
            font-weight: 300;
            line-height: 1.56;
            margin-bottom: 2rem;
        }
        p{
            line-height: 1.56;
            color: $white;
            margin-bottom: 2rem;
            font-weight: 300;
        }
        ul{
            li{
                margin-bottom: 1.5rem;
                font-size: 1.6rem;
                font-weight: 300;
                display: inline-flex;
                i{
                    font-size: 2.6rem;
                    font-weight: 600;
                    color: $white;
                    margin-right: 2rem;
                }
            }
        }
        .dit-button{
            a {
                background-color: $red;
            }
        }
    }
}
.unparalleled_area{
   background: $light-dark !important;
    padding: 7rem 0;
    text-align: center;
    h2{
        font-size: 4.2rem;
        font-weight: 300;
        color: $white;
        margin-bottom: 2rem;
        span{
            display: block;
            font-weight: 600;
        }
    }
    p{
        color: rgb(255 255 255 / 80%);
        font-size: 1.4rem;
        max-width: 43rem;
        margin: 0 auto;
    }
    .button{
        background-color: $dark;
        border-color: $dark;
        &:hover{
            color: $dark;
            background-color: $red;
        }
    }
}
//  about_choose_area
.about_choose_area{
    padding: 1rem 0;
    background-color: $dark;
    .choose_card_wrap{
        box-shadow: none;
        border-radius: 0;
        background-color: $light-dark;
        h2{
            color: $white;
        }
        h3{
            color: $white;
        }
    }
}
// about_testimonial
.about_testimonial{
    padding: 5rem 0 4rem;
    background-color: #fff;
    color: $black !important;
    &::before{
        background-color: rgb(255 255 255 / 75%);
    }
   .choose_top {
    h2{
        color: $white;
        font-weight: 300;
        span{
            display: block;
            font-weight: 700;
        }
    }
   }
   .texti_card {
        p{
            color: $white;
        }
        h2 {
            color: $white;
            span{
                color: $white;
            }
        }
    }
}