@import "./variables.scss";
@import "./mixins.scss";

// blog_list_wrappers
.blog_list_wrappers{
    padding: 2rem 7rem;
    .resources_card{
        .resources_cont{
            text-align: left;
            h2{
                font-family: $font_heading;
                font-size: 3rem;
                font-weight: 700;
                color: #111A3A;
            }
        }
    }
}