@import "./variables.scss";
@import "./mixins.scss";

// faq_area
.faq_area{
    padding: 6rem 0;
    .choose_top{
        h2{
            font-weight: 300;
            strong{
                display: block;
            }
        }
    }
    .coustom_accordion{
        padding-top: 3.5rem;
        .accordion-item{
            margin-bottom: 2rem;
            .accordion-header{
                .accordion-button{
                    font-size: 2rem;
                    color: $white;
                    background-color: $light-dark;
                    font-weight: 700;
                    padding: 1.7rem 1.4rem;
                    border: 0.1rem solid $white;
                    &:focus{
                        color: $red;
                        outline: none;
                    }
                    &:after {
                        filter: brightness(0) invert(1);
                    }
                }
            }
            .accordion-body{
                background-color: $light-dark;
               padding: 2rem 1.4rem;
               p{
                color: #7a7a7a;
                box-shadow: rgba(0, 0, 0, 0.1) .0rem 1.0rem 1.5rem -.3rem, rgba(0, 0, 0, 0.05) .0rem .4rem .6rem -.2rem;
               }
            }
        }
    }
}