@import "./variables.scss";
@import "./mixins.scss";

// faq_area
.faq_area{
    padding: 6rem 0;
    .choose_top{
        h2{
            font-weight: 300;
            strong{
                display: block;
            }
        }
    }
    .coustom_accordion{
        padding-top: 3.5rem;
        .accordion-item{
            margin-bottom: 2rem;
            .accordion-header{
                .accordion-button{
                    font-size: 2rem;
                    color: $black;
                    background-color: #fff;
                    font-weight: 700;
                    padding: 1.7rem 1.4rem;
                    border: 0.1rem solid #dee2e6;
                    &:focus{
                        color: $red;
                        outline: none;
                    }
                }
            }
            .accordion-body{
               padding: 2rem 1.4rem;
               p{
                color: #7a7a7a;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
               }
            }
        }
    }
}