@import "./variables.scss";
@import "./mixins.scss";

// faq_area
.faq_area{
    padding: 6rem 0;
    .choose_top{
        h2{
            font-weight: 300;
            strong{
                display: block;
            }
        }
    }
    .coustom_accordion{
        padding-top: 3.5rem;
        .accordion-item{
            margin-bottom: 2rem;
            border-radius: 0;
            border: 1px solid #E2E8F0;
            background: #fff;
            .accordion-header{
                .accordion-button{
                    font-family: $font_heading;
                    font-size: 1.8rem;
                    color: #111A3A;
                    background-color: #fff;
                    font-weight: 600;
                    padding: 1.8rem 2rem;
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                    &:not(.collapsed) {
                        color: $red;
                        background-color: #FAFBFD;
                        border-bottom: 1px solid #E2E8F0;
                    }
                    &:focus{
                        color: $red;
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
            .accordion-body{
               padding: 2rem 2rem;
               p{
                font-family: $font_body;
                font-size: 1.5rem;
                line-height: 1.7;
                color: #555E6D;
                box-shadow: none;
                margin: 0;
               }
            }
        }
    }
}